{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="login-section">
    <div class="login-card">
        <figure class="login-logo">
            <img src="/img/homepage/HPlogo-removebg-preview 1.png" alt="Logo Réflexologie Côtière">
        </figure>
        <h1 class="login-title">Connexion</h1>
        <form method="post" class="login-form">
            {% if error %}
                <div class="login-alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="login-user-info">
                    Connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="login-logout-link">Déconnexion</a>
                </div>
            {% endif %}

            <div class="login-field">
                <label for="username" class="login-label">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="login-input" autocomplete="email" required autofocus>
            </div>
            <div class="login-field">
                <label for="password" class="login-label">Mot de passe</label>
                <input type="password" name="_password" id="password" class="login-input" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

            <div class="login-btns-row">
                <button class="login-btn-2" type="submit">Se connecter</button>
                <a href="{{ path('app_register') }}" class="register-btn-2">Créer un compte</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block show_footer %}{% endblock %}
