{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
<section class="register-section">
    <div class="register-card">
        <h1 class="register-title">Créer un compte</h1>
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="register-alert" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {'attr': {'class': 'register-form'}}) }}
            <div class="register-field">{{ form_row(registrationForm.firstName) }}</div>
            <div class="register-field">{{ form_row(registrationForm.lastName) }}</div>
            <div class="register-field">{{ form_row(registrationForm.phoneNumber) }}</div>
            <div class="register-field">{{ form_row(registrationForm.email) }}</div>
            <div class="register-field">{{ form_row(registrationForm.plainPassword, { label: 'Mot de passe' }) }}</div>
            <div class="register-field">{{ form_row(registrationForm.agreeTerms) }}</div>

            <div class="register-btns-row">
                <button type="submit" class="register-btn-2">Créer un compte</button>
                <a href="{{ path('app_login') }}" class="login-btn-2">Se connecter</a>
            </div>
        {{ form_end(registrationForm) }}
    </div>
</section>
{% endblock %}

{% block show_footer %}{% endblock %}
