{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
    <h1>Session index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Duration_minutes</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.name }}</td>
                <td>{{ session.description }}</td>
                <td>{{ session.durationMinutes }}</td>
                <td>{{ session.price }}</td>
                <td>
                    <a href="{{ path('app_session_crud_show', {'id': session.id}) }}">show</a>
                    <a href="{{ path('app_session_crud_edit', {'id': session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_session_crud_new') }}">Create new</a>
{% endblock %}
