{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <div class="admin-session-show">
        <h1>Détail de la séance</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ session.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ session.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ session.description }}</td>
                </tr>
                <tr>
                    <th>Durée (minutes)</th>
                    <td>{{ session.durationMinutes }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ session.price }}</td>
                </tr>
            </tbody>
        </table>
        <div style="text-align:center;">
            <a href="{{ path('app_session_crud_index') }}">Retour à la liste</a>
            <a href="{{ path('app_session_crud_edit', {'id': session.id}) }}">Modifier</a>
            {{ include('session_crud/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
