<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/png" href="/img/homepage/HPlogo-removebg-preview 1.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.11/index.global.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.11/index.global.min.css">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <nav class="bottom-menu">
            <a href="{{path('app_home')}}">
                <img src="/img/icones/house-solid (2).svg" class="menu-icon" alt="Accueil icon">Accueil
            </a>
            <a href="{{path('app_reflexology')}}">
                <img src="/img/icones/sheet-plastic-solid.svg" class="menu-icon" alt="Réflexologie icon">La réflexologie
            </a>
            <a href="{{path('app_session')}}">
                <img src="/img/icones/list-solid (1).svg" class="menu-icon" alt="Séances icon">Les séances
            </a>
            <a href="{{path('app_journey')}}">
                <img src="/img/icones/user-solid (1).svg" class="menu-icon" alt="Parcours icon">Mon parcours
            </a>
            <a href="{{path('app_contact')}}">
                <img src="/img/icones/phone-solid (1).svg" class="menu-icon" alt="Contact icon">Contact
            </a>
        </nav>

        <footer class="site-footer">
            <div class="footer-container">
                <div class="footer-col footer-contact">
                    <h2 class="footer-title">Contact</h2>
                    <a href="mailto:reflexologiecotiere@gmail.com" class="footer-link"><span class="footer-icon">&#9993;</span> reflexologiecotiere@gmail.com</a>
                </div>
                <div class="footer-col footer-copyright">
                    <h2 class="footer-title">© 2025 Réflexologie Côtière</h2>
                    <p class="footer-text">Micro Entreprise Annick Brunel E.I<br>SIRET 98262556800018</p>
                </div>
                <div class="footer-col footer-credits">
                    <h2 class="footer-title">Crédits</h2>
                    <p class="footer-text">Crédit photos : Images personnelles non libres de droit</p>
                    <p class="footer-text">Créé par Samy Mechiche</p>
                </div>
            </div>
            <p class="footer-legal">
                Conformément à la loi, la pratique de la réflexologie ne peut être en aucun cas assimilée à des soins médicaux ou de kinésithérapie, mais à une technique de bien être par la relaxation physique et la détente libératrice de stress.<br><br>
                Le réflexologue n'est nullement qualifié pour donner un avis médical, établir un diagnostic, ni conseiller de modifier ou de supprimer des traitements médicaux
            </p>
        </footer>

        <button id="scrollToTopBtn" title="Remonter en haut">&#8679;</button>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.11/index.global.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.11/index.global.min.js"></script>
    </body>
</html>
